In [1]:
import pandas as pd

## Series 
 - series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively

In [16]:
fruits = pd.Series(["apple", "pear", "orange", "melon", "kiwi"])
fruits

0     apple
1      pear
2    orange
3     melon
4      kiwi
dtype: object

In [7]:
fruits.apply(str.upper)

0     APPLE
1      PEAR
2    ORANGE
3     MELON
4      KIWI
dtype: object

In [6]:
numbers = pd.Series([5, 6, 3])
numbers * 2 + 1

0    11
1    13
2     7
dtype: int64

In [24]:
numbers >= 5

0     True
1     True
2    False
dtype: bool

In [23]:
numbers[numbers >= 5]

0    5
1    6
dtype: int64

In [27]:
numbers[pd.Series([True, True, False])]

0    5
1    6
dtype: int64

## Dataframes
- DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object. Like Series, DataFrame accepts many different kinds of input

In [31]:
data = {
    "name": ["anders", "thomas", "mario"],
    "age": [42, 45, 21]
}

df = pd.DataFrame(data)
df

     name  age
0  anders   42
1  thomas   45
2   mario   21

In [2]:
data = [
    {"name": "Anders", "age": 53},
    {"name": "Mario", "age": 33},
    {"name": "johan", "age": 23}
]

dff = pd.DataFrame(data)
dff

NameError: name 'pd' is not defined

In [64]:
dff["name"]

0    Anders
1     Mario
2     johan
Name: name, dtype: object

In [65]:
dff["age"] 
df

     name  age
0  Anders   53
1   Mario   33
2   johan   23

In [66]:
dff["age"] >= 30

0     True
1     True
2    False
Name: age, dtype: bool

In [67]:
str(dff)

'     name  age\n0  Anders   53\n1   Mario   33\n2   johan   23'

In [1]:
print(dff)

NameError: name 'dff' is not defined