## Encoding categorical features
- Categorical features are non-numeric features with a listed amount of possiable options
- before feeding them into most machine-lerning algoritms we must first convert them into numerical features using ether:
- **Label Encoding** each unique category is assigned to a numerical value = 0, 1, 2, 3, 4 etc
- **One-hot encoding** a new binary feature is created for each category.

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns

In [31]:
titanic = sns.load_dataset("titanic")
titanic.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

In [19]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [20]:
# titanic.columns
cat_column = [col for col in titanic.columns if titanic[col].dtype in ["object", "category"]]
cat_column

['sex', 'embarked', 'class', 'who', 'deck', 'embark_town', 'alive']

In [29]:
df_category = titanic[cat_column]
df_category.head()

KeyError: "['who'] not in index"

In [22]:
for cat in cat_column:
    print(f"{cat}: {df_category[cat].unique()}")

sex: ['male' 'female']
embarked: ['S' 'C' 'Q' nan]
class: ['Third', 'First', 'Second']
Categories (3, object): ['First', 'Second', 'Third']
who: ['man' 'woman' 'child']
deck: [NaN, 'C', 'E', 'G', 'D', 'A', 'B', 'F']
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']
embark_town: ['Southampton' 'Cherbourg' 'Queenstown' nan]
alive: ['no' 'yes']

### Label encoding
- label encoding maps each category into a numeric value

 use label encdong if 
- Categories have a natural order
- if there is only 2 categories 
- using one-hot encoding leads to a large numbers of features

In [23]:
# manul mapping

titanic["embarked"] = titanic["embarked"].map({"S": 1, "C": 2, "Q": 3})

### Auto-mapping using label encoding from scikit-learn

In [39]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

titanic["deck"] = le.fit_transform(titanic["deck"])

### One-hot encoding
in one-hot encdoing, new binary feature is created for each catebory, and value of that feature is set to 1 if the observation belongs to that category, and o otherwise

use one-hot encoding if:
- categories have no natural order.
- numbers of categories are small (but not 2)
- it returns ether True or False, or 1 or 0

In [40]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,deck,embark_town,alive,alone,who_child,who_man,who_woman
0,0,3,1,22.0,1,0,7.2500,2,Third,1,7,2,0,0,0,1,0
1,1,1,0,38.0,1,0,71.2833,0,First,0,2,0,1,0,0,0,1
2,1,3,0,26.0,0,0,7.9250,2,Third,0,7,2,1,1,0,0,1
3,1,1,0,35.0,1,0,53.1000,2,First,0,2,2,1,0,0,0,1
4,0,3,1,35.0,0,0,8.0500,2,Third,1,7,2,0,1,0,1,0

In [33]:
titanic = pd.get_dummies(data=titanic, columns=["who"])

### auto-map reming non-numerical fatures

In [35]:
cat_column = [col for col in titanic.columns if titanic[col].dtype in ['object', 'catebory', 'bool']]
cat_column

['sex',
 'embarked',
 'adult_male',
 'embark_town',
 'alive',
 'alone',
 'who_child',
 'who_man',
 'who_woman']

In [37]:
for col in cat_column:
    titanic[col] = le.fit_transform(titanic[col])